$cell-padding: 1.25rem;

.table {
    color: #1b1b1bde;
    border-collapse: collapse;

    a {
        color: #286ba2;
    }

    tr {
        border-bottom: 1px solid #1b1b1b1f;
    }

    th {
        font-weight: 500;
        padding: $cell-padding;
    }

    td {
        padding: $cell-padding;
    }

    .approve {
        color: #2e7d32;
    }

    .deny {
        color: #d32f2f;
    }
}
